nav#top-page(class='navbar navbar-expand-lg navbar-dark bg-dark')
    .container
    
        a(class='navbar-brand' href='#top-page')
            img(src="imgs/web-logo.png" width="30" height="30" alt="logo")
            |  Logo

        button(class="navbar-toggler",
            type="button",
            data-toggle="collapse",
            data-target="#navbarContent",
            aria-controls="navbarContent",
            aria-expanded="false",
            aria-label="Toggle navigation")
            span: i.fas.fa-stream
        
        .collapse.navbar-collapse#navbarContent
            ul.navbar-nav.ml-auto
                li.nav-item: a.nav-link(href='#cardAboutMe' data-text='About') About
                li.nav-item: a.nav-link(href='#mySkills' data-text='Skills') Skills
                li.nav-item: a.nav-link(href='#myExp' data-text='Experience') Experience
                li.nav-item: a.nav-link(href='#works' data-text='Works') Works